body {
    background-color: rgb(7, 7, 66);
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    color: whitesmoke;
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: #333333;
    border: none;
    background-color: #ffffff7f;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 20px #444444;
    
}

h1:hover {
    background-color: #daf1ff;
    color: #002b7c;
}

h2:hover {
    background-color: #daf1ff;
    color: #002b7c;
}

   

.link-button:hover{
    background-color: #0000007f; 
    color: #fff
}

